/* common styles */
body {
    background: #FFFBF2;
}

h1 {
    font-family: 'East Sea Dokdo', cursive;
}


/* navbar styling */
.bg-light {
    background-color: #FFE7E7;
}

.navbar {
    display: flex;
    justify-items: center;
    justify-content: space-between;
}

.navbar-brand {
    font-family: 'East Sea Dokdo';
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 77px;
    line-height: 96px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #6C6C6C;

    text-shadow: -3px 5px 5px rgba(91, 67, 49, 0.5);
}

