{% extends "layout.html" %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js%22%3E"></script>

<body>
  <div class="members-container">
    <p class="members-item">
      This page was inspired by our love for cats. <br>
      Our page was constructed with HTML/CSS on the front-end <br>
      and Python for the back-end. <br>
      We also integrated multiple APIs <br>
      – Twilio's automated messenger API and cat-fact API. <br>
    </p>

    <p class="members-item"><u> Meet the Creators!</u></h2>

    <div class="members-container2">
      <div class="members-container">
          <img src="../static/jjr1.jpg" class="profiles">
          <p class="members-item">
            Jason Rosmaidy<br>
           <a class="members-link" href="https://github.com/jrosmaidy1" target=blank> <img src="../static/github-logo.svg" class="socials"></a>
          </p>
    
          <img src="../static/zi.jpg" class="profiles">
          <p class="members-item">
            Zi Yon<br>
            <a class="members-link" href="https://github.com/kayyon" target=blank> <img src="../static/github-logo.svg" class="socials"></a>
          </p>
      </div>
      <div class="members-container">
        <img src="../static/chloe.jpg" class="profiles">
           <p class="members-item">
            Chloe Ng<br>
            <a class="members-link" href="https://github.com/chlo-ng" target=blank> <img src="../static/github-logo.svg" class="socials"></a>
            <a class="members-link" href="https://www.linkedin.com/in/chloe-ng-27690822b/" target=blank> <img src="../static/linked-in.png" class="socials"></a>
           </p>

        <img src="../static/ran.jpg" class="profiles">
        <p class="members-item">
          Randy Kosasih<br>
          <a class="members-link" href="https://github.com/rkosasih1" target=blank> <img src="../static/github-logo.svg" class="socials"></a>
        </p>
    </div>
  </div>
</div>

</body>
{%endblock content%}