<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> what a cat-astrophe! </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Dokdo&family=East+Sea+Dokdo&family=Karla:wght@300&family=Londrina+Solid:wght@300&family=Playfair+Display:wght@400;600&display=swap');
    </style>
  <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <!-- navbar in every page -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{url_for('landingPage')}}">CAT-ASTROPHE</a>
  
      <div>
        <!-- UN-COMMENT THIS SECTION IF U'RE JASON/ZI -->
        <!-- <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('landingPage')}}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('ourService')}}">Our Service</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('about')}}">About</a>
          </li>
        </ul> -->
        <!-- TIL HERE -->


        <!-- UN-COMMENT THIS SECTION IF U'RE CHLOE/RANDY -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="landingPage.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ourService.html">Our Service</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="about.html">About</a>
          </li>
        </ul>
        <!-- TIL HERE -->

      </div>
    </nav>
  </header>

  <div class="members">
    <h2> 
      This page was inspired by our love for cats. <br>
      Our page was constructed with Html/Css on the front-end <br>
      and Python for the back-end. <br>
      We also integrated multiple APIs <br>
      – Twilio's automated messenger API and cat-fact API. <br>
      
    </h2>
    <ul class="members-list">
      <li class="members-item">
        <img src="../static/jjr1.jpg" style="float: left;" />
        <h2>Jason Rosmaidy</h2>
      </li>
      <li class="members-item">
        <a class="members-link" href="https://github.com/jrosmaidy1"> github.com/jrosmaidy1 </a>
      </li>
      
      <li class="members-item">
        <img src="../static/zi.jpg" style="float: left;" >
        <h2>Zi Yon</h2>
        <br>
      </li>
      <li class="members-item">
        <a class="members-link" href="https://github.com/kayyon"> github.com/kayyon </a>
      </li>

      <li class="members-item">
        <img src="../static/ran.jpg" style="float: left;" >
        <h2>Randy Kosasih</h2>
      </li>
      <li class="members-item">
        <a class="members-link" href="https://github.com/rkosasih1"> github.com/rkosasih1 </a>
      </li>

      <li class="members-item">
        <img src="../static/chloe.jpg" style="float: left; ">
        <h2>Chloe Ng</h2>
      </li>
      <li class="members-item">
        <a class="members-link" href="https://github.com/chlo-ng"> github.com/chlo-ng </a>
      </li>
    </ul>

  </div>

  <square class="footer footer-bg">
  </square>
  
</body>

</html>