{% extends "layout.html" %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js%22%3E"></script>

<body>
    <div class="search-container">
        <form method="POST" action="{{url_for('adopt')}}" class="form-items">
            <label class="form-label">
                Get started by looking for the nearest shelters to you!
            </label>
            <input name="State" id="searchbar" type="text" class="form-box" placeholder="Enter state/zip code" required="required">
            <input type="submit" value="Search"></input>
        </form>
    </div>
</body>

{%endblock content%}