{% extends "layout.html" %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js%22%3E"></script>

<body>

  <section class="container" id="section1">
    <h2 class="section-items">
      <img src="{{dimages}}" class="profiles">
      <img src="{{cimages}}" class="profiles">
    </h2>
    <h2 class="section-items">
      &#128054; - Dog Fact<br>{{dfact}} <br><br>
      &#128049; - Cat Fact<br> {{cfact}} <br>
    </h2>
    <div class="form-items">
      <form method="POST" action="/catdog">
        <label class="form-label" for="phoneNumber"></label>
        <input type="submit" value="More?"><br><br>
        <form method="POST" action="/getcatdog">
          <label class="form-label" for="phoneNumber">
            Enter your phone number below <br>
            to start receiving more facts:
          </label><br>
          <input name="phoneNumber" type="text" class="form-box" id="phoneNumber" placeholder="XXXXXXXXXX"><br>
          <div>
            <input type="submit" value="Submit">
          </div>
        </form>
  </section>

  </div class="feedback">
  <a class="feedback-btn" href="{{url_for('feedback')}}"> <img src="../static/feedback.jpeg" class="feedback-icon"> </a>
  </div>
</body>

{%endblock content%}