{% extends "layout.html" %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js%22%3E"></script>

<body>

  <section class="members-container">
    <section class="members-container2">
      <img src="{{dimages}}" class="randomPic">
      <img src="{{cimages}}" class="randomPic">
    </section>
    <h2>
      &#128054; - Dog Fact<br>{{dfact}} <br><br>
      &#128049; - Cat Fact<br> {{cfact}} <br>
    </h2>
    <div class="form-items">
        <form method="POST" action="/getcatdog">
          <label class="form-label phone-label" for="phoneNumber">
            Enter your phone number below <br>
            to start receiving more facts:
          </label><br>
          <input name="phoneNumber" type="text" class="phone-form" id="phoneNumber" placeholder="XXXXXXXXXX"><br>
          <div>
            <input type="submit" value="Submit">
          </div>
        </form>
  </section>
</body>

{%endblock content%}
