{% extends "layout.html" %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js%22%3E"></script>
<body>

    <section class="container" id="section1">
      <h2 class="section-items">
        hello! this is an unfinished cat fact page
      </h2>
      <h2 class="section-items"> 
        *fact goes here!*
      </h2>
      <button class="section-items fact-button"> Add a function to this button pls </button>
    </section>

  </div class="feedback">
    <a class="feedback-btn" href="{{url_for('feedback')}}"> <img src="../static/feedback.jpeg" class="feedback-icon"> </a>
  </div>

</body>

{%endblock content%}
