{% extends "layout.html" %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js%22%3E"></script>

<body>
    <section class="search-container">
        <h1>Welcome {{ name }}!</h1>
        <p class="section-items">
          Start your day off with a<br>
          random animal fact!<br>
          Choose your favorite:
        </p>

        <section class="section-items categories">
          <label class="form-label">
            <a href="{{url_for('cat')}}"><img class="category" src="../static/kitty.png" alt="cats"></a>
            <br>
            Cat facts!
          </label>
    
          <label class="form-label">
            <a href="{{url_for('dog')}}"><img class="category" src="../static/doggo.jpeg"></a>
            <br>
            Dog facts!
          </label>
    
          <label class="form-label">
            <a href="{{url_for('catdog')}}"><img class="category" src="../static/doggo&kitty.jpeg"></a>
            <br>
            Cat & dog facts!
          </label>
        </section>
    
      </section>

      
</body>
{%endblock content%}