{% extends "layout.html" %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js%22%3E"></script>

<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li class="flashes-item">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}

  <div class="intro-items">

  </div>


  <div class="form-items">
    <form method="POST" action="/ourService">
      <label class="form-label" for="phoneNumber">
        Despite the shady encounter, <br>
        You have chosen to experience the Cat Raid anyway.<br>
        Enter your phone number below <br>
        to start receiving facts:
      </label><br>
      <input name="phoneNumber" type="text" class="form-box" id="phoneNumber" placeholder="XXXXXXXXXX" required><br>
      <div>
        <input type="submit" value="Submit">
      </div>
    </form>

    <!-- <footer class="footer"> hellaur </footer> -->

</body>

{%endblock content%}
