<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> what a cat-astrophe! </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Dokdo&family=East+Sea+Dokdo&family=Karla:wght@300&family=Londrina+Solid:wght@300&family=Playfair+Display:wght@400;600&display=swap');
  </style>
  <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <!-- navbar in every page -->
  <header>
    <nav class="navbar bg-light">
      <a class="navbar-brand" href="{{url_for('landingPage')}}">CAT-ASTROPHE</a>

      <div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('landingPage')}}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('about')}}">About</a>
          </li>
        </ul>
      </div>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li class="form-label">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
  </header>

  <div class="intro-items">

  </div>


  <div class="form-items">
    <form method="POST" action="/ourService">
      <label class="form-label" for="phoneNumber">
        Despite the shady encounter, <br>
        You have chosen to experience the Cat Raid anyway.<br>
        Enter your phone number below <br>
        to start receiving facts:
      </label><br>
      <input name="phoneNumber" type="text" class="form-box" id="phoneNumber" placeholder="XXXXXXXXXX"><br>
      <div>
        <input type="submit" value="Submit">
      </div>
    </form>

    <!-- <footer class="footer"> hellaur </footer> -->

</body>

</html>
